
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    background-color: #f4f4f4;
}
:root{
    --main-color: #fe5b3d;
    --second-color: #ffac38;
    --text-color: #444;
    --gradient: linear-gradient(#fe5b3d,#ffac38);
}
html::-webkit-scrollbar{
    width: 0.5rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 5rem;
}
section{
    padding: 50px 100px;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #eeeff1;
    padding: 15px 100px;
}
/*menu*/
.menu label{
    background-color: antiquewhite;
}
.slide{
    top: 76px;
    height: 100%;
    width: 280px;
    position: absolute;
    background-color: #fff;
    transition:  0.5s ease;
    transform: translateX(-350px);
}
.slide h1{
    color: #fe5b3d;
    font-weight: 800;
    text-align: right;
    padding: 10px 0;
    padding-right: 100px;
    pointer-events: none;
}
.slide ul li{
    list-style: none;
    background-color: #fff;
}
.slide ul li a{
    color: #444;
    font-weight: 500;
    padding: 5px 0;
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: 0.2s ease-out;
}
.slide ul li:hover a{
    color: #fff;
    background-color: #ffac38;
}
.slide ul li a i{
    width: 40px;
    text-align: center;
}
.menu input{
    display: none;
    visibility: hidden;
}
.toggle{
    position: absolute;
    height: 30px;
    width: 30px;
    top: 20px;
    left: 15px;
    z-index: 1;
    cursor: pointer;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.toggle .common{
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #fe5b3d;
    border-radius: 50px;
    transition: 0.3s ease;
}
.toggle .top-line{
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.toggle .middle-line{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.toggle .bottom-line{
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.menu input:checked ~ .toggle .top-line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
}
.menu input:checked ~ .toggle .bottom-line{
    left: 2px;
    top: 14px;
    width: 25px;
    transform: rotate(45deg);
}
.menu input:checked ~ .toggle .middle-line{
    opacity: 0;
    transform: translateX(20px);
}
.menu input:checked ~ .slide{
    transform: translateX(0);
    box-shadow: o o 15px rgba(0, 0, 0, 0.5);
}
/*menu*/
.logo{
    width: 30px;
    height: auto;
    position: absolute;
    left: 97px;
    transition: all .42s;
}
.logo:hover{
    transform: scale(1.1);
}
.logo h2{
    background: linear-gradient(to top left, #fe5b3d,#ffd5b4);
}
.logo h2:hover{
    color: #fe5b3d;
}
.logo p{
    color: #fe5b3d;
    position: absolute;
    left: 85px;
    bottom: 0px;
    top: 20px;
}
.logo p:hover{
    color: #474fa0;
}
.navbar {
    display: flex;
}
.navbar li{
    position: relative;
}
.navbar a{
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}
.navbar a::after{
    content: '';
    width: 0;
    height: 3px;
    background: var(--gradient);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition: 0.5s;
}
.navbar a:hover::after{
    width: 100%;
}
#menu-icon{
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}
.header-btn a{
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}
.header-btn a input{
    flex: 1 1 7rem;
    padding: 10px 34px ;
    border: none;
    border-radius: 0.5rem;
    background: #474fa0;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
.header-btn a input:hover{
    background: var(--main-color);
}

/*araba tanıtım*/
.car-container {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 70px;
    padding: 50px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.car-images {
    flex: 1;
    max-width: 500px;
    margin-right: 20px;
}

#main-image {
    width: 100%;
    height: auto;
    display: block;
}

.alt-images {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.alt-images img {
    width: 100px;
    height: auto;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s;
}

.alt-images img:hover {
    border: 2px solid #333;
}

.car-details{
    flex: 1;
    max-width: 600px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.car-details h1 {
    margin-top: 1;
}

.car-details ul {
    list-style-type: none;
    padding: 0;
}

.car-details ul li {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}
.car-details ul span{
    color: var(--main-color);
}
.car-details .btn{
    display: flex;
    justify-content: center;
    background: #474fa0;
    color: #fff;
    padding: 10px;
    border-radius: 0.5rem;
    position: absolute;
    top: 410px;
}
.car-details .btn:hover{
    background: var(--main-color);
}
.arabalar-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,auto));
    gap: 1rem;
    margin-top: 2rem;
}
.arabalar-container .box{
    padding: 10px;
    border-radius: 1rem;
    box-shadow: 1px 4px 41px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.arabalar-container .box .box-img{
    width: 100%;
    height: 200px;
    transition: all .42s;
}
.arabalar-container .box .box-img:hover{
    transform: scale(1.1);
}
.arabalar-container .box .box-img img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
    object-position: center;
}
.arabalar-container .box p{
    padding: 0 10px;
    border: 1px solid var(--text-color);
    width: 58px;
    border-radius: 0.5rem;
    margin: 1rem 0 1rem;
}
.arabalar-container .box h3{
    font-weight: 500;
}
.arabalar-container .box h2{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--main-color);
    margin: 0.2rem 0 0.5rem;
}
.arabalar-container .box h2 span{
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--text-color);
}
.arabalar-container .box .btn{
    display: flex;
    justify-content: center;
    background: #474fa0;
    color: #fff;
    padding: 10px;
    border-radius: 0.5rem;
}
.arabalar-container .box .btn:hover{
    background: var(--main-color);
}
.contact{
    position: relative;
    background-color: #f3f4f6;    
}
.contact-info{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(160px,auto));
}
.first-info .logo{
    transition: all .42s;
}
.first-info .logo:hover{
    transform: scale(1.3);
}
.first-info .logo p{
    color: #fe5b3d;
}
.first-info .logo p:hover{
    color: #474fa0;
}
.contact-info h5{
    color: #212529;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.contact-info p{
    color: #565656;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.5;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all .42s;
}
.contact-info p:hover{
    color: var(--main-color);
}
.contact-info .btn3{
    color: #565656;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.5;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all .42s;
}
.contact-info .btn3:hover{
    color: var(--main-color);
}
.social-icon i{
    color: #565656;
    margin-right: 40px;
    font-size: 20px;
    transition: all .42s;
}
.social-icon i:hover{
    transform: scale(1.3);
}
.end-text{
    text-align: center;
    padding: 20px;
}
.end-text p{
    color: #111;
    text-transform: capitalize
}

/*Kampanyalar*/
.heading{
    text-align: center;
}
.heading span{
    font-weight: 500;
    text-transform: uppercase;
}
.heading h1{
    font-size: 2rem;
}
.heading3{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,auto));
    gap: 1rem;
    margin-top: 2rem;
}
.heading3 .box{
    padding: 10px;
    border-radius: 1rem;
    box-shadow: 1px 4px 41px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.heading3 .box .box-img{
    width: 100%;
    height: 200px;
}
.heading3 .box .box-img img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
    object-position: center;
}
.heading3 .box .btn{
    display: flex;
    justify-content: center;
    background: #474fa0;
    color: #fff;
    padding: 10px;
    border-radius: 0.5rem;
}
.heading3 .box .btn:hover{
    background: var(--main-color);
}

